.filters .form-group {
    background: #f1f1f1;
    padding: 10px;
}

.filters .label {
    display: block;
    margin-bottom: 10px;
}

.filters .dropdown {
    margin-bottom: 10px;
}

.filters button,
.filters .dropdown {
    width: 100%;
    text-align: left;
}

.filters .dropdown .caret {
    float: right;
    margin-top: 7px;
}
